{
	"env": {
		"node": true,
		"browser": true,
		"es2020": true
	},
	"extends": ["next", "eslint:recommended"],
	"parser": "babel-eslint",
	"plugins": ["react-hooks"],
	"rules": {
		"semi": 0,
		"indent": "off",
		"no-tabs": "off",
		"react-hooks/rules-of-hooks": "off",
		"react-hooks/exhaustive-deps": "off",
		"@next/next/link-passhref": "off",
		"@next/next/no-img-element": "off",
		"react/jsx-no-target-blank": "off",
		"react/no-unescaped-entities": "off",
		"jsx-a11y/alt-text": "off",
		"no-unused-vars": "warn",
		"no-useless-catch": "warn",
		"no-mixed-spaces-and-tabs": "off",
		"no-console": "warn"
	}
}
