@font-face {
	font-family: 'Anybody';
	src: url('/Anybody-SemiBold.woff2') format('woff2'), url('/Anybody-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Anybody';
	src: url('/Anybody-Regular.woff2') format('woff2'), url('/Anybody-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Anybody';
	src: url('/Anybody-Medium.woff2') format('woff2'), url('/Anybody-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Anybody';
	src: url('/Anybody-Bold.woff2') format('woff2'), url('/Anybody-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
