.input {
	height: 34px;
	width: 220px;
	padding: 0 12px;
	font-size: 15px;
	font-family: inherit;
	background-color: #1f1d23 !important;
	border-radius: 4px;
	border: none !important;
	color: white;
}

.input:focus {
	outline: none;
}

.input::placeholder {
	color: #aaa;
}

.inputInvalid .link {
	color: white;
}
