@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-body font-medium;
}

button:focus {
	@apply outline-none;
}

button:disabled {
	@apply opacity-75;
}

.slide.selected {
	padding-left: 25%;
	padding-right: 25%;
}

.card-wrap {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	cursor: pointer;
	width: 100%;
	height: 100%;
}
.card-wrap:hover .card-bg {
	-webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
		opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
	transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
		opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
	opacity: 0.8;
}
.card-wrap:hover .card {
	-webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
		box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
	transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
		box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);

	box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px,
		rgba(0, 0, 0, 0.66) 0 30px 60px 0;
}

.card {
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	-webkit-transition: transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95),
		opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95),
		opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	pointer-events: none;
}
