@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Epilogue', sans-serif;
}

hr {
	@apply border-gray-400;
}

a {
	@apply font-medium;
}

button:focus {
	@apply outline-none;
}

button:disabled {
	@apply opacity-50 cursor-not-allowed;
}

.font-semibold {
	@apply tracking-tight;
}

input:focus,
textarea:focus {
	@apply outline-none;
}

input,
textarea {
	@apply bg-gray-300 p-2 rounded-md border-2 border-transparent w-full;
}

input:focus,
textarea:focus {
	@apply bg-gray-100 border-dark-primary-1;
}

input.error,
textarea.error,
.error {
	@apply border-red-500;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

input.clear {
	@apply bg-transparent p-0 border-0;
}

.button-wrapper:hover {
	@apply bg-gray-100 bg-opacity-15;
}

.faq a {
	@apply border-b-2 border-transparent border-gray-100;
}

.faq span {
	@apply opacity-75;
}

.faq span a:hover {
	@apply opacity-100;
}

.slide.selected {
	padding-left: 25%;
	padding-right: 25%;
}

.youtube-container {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;
	@apply bg-dark-primary-3 rounded-lg overflow-hidden;
}

.youtube-container iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.card-wrap {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	width: 100%;
	height: 100%;
	@apply mx-auto;
}
.card-wrap:hover .card-bg {
	-webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
		opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
	transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
		opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
	opacity: 0.8;
}
.card-wrap:hover .card {
	-webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
		box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
	transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
		box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);

	box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px,
		rgba(0, 0, 0, 0.66) 0 30px 60px 0;
}

.card {
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	-webkit-transition: transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	box-shadow: rgba(255, 255, 255, 0.3) 0 0 0 1px;
}

.card-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95),
		opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95),
		opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	pointer-events: none;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
}
.hamburger:hover {
	opacity: 0.7;
}
.hamburger.is-active:hover {
	opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
	@apply bg-gray-100;
}

.hamburger-box {
	width: 24px;
	height: 8px;
	display: inline-block;
	position: relative;
}

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
	width: 24px;
	height: 4px;
	border-radius: 4px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
	@apply bg-gray-100;
}
.hamburger-inner::before,
.hamburger-inner::after {
	content: '';
	display: block;
}
.hamburger-inner::before {
	top: -8px;
}
.hamburger-inner::after {
	bottom: -8px;
}

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
	transition-duration: 0.075s;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
	transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
	transition: bottom 0.075s 0.12s ease,
		transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
	transform: rotate(45deg);
	transition-delay: 0.12s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
	top: 0;
	opacity: 0;
	transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
	bottom: 0;
	transform: rotate(-90deg);
	transition: bottom 0.075s ease,
		transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@layer utilities {
	@responsive {
		.h-1\/2 {
			height: 50%;
		}
	}
}
